:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: darkblue;
  background-color: #ffffff;
}

button {
  all: unset;
}

.image-gallery {
  display: grid;
  position: relative;
  margin: 10px;
}

.image-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container {
  display: flex;
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; 
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, 
              rgba(0,0,0,0.5) 0%, 
              rgba(0,0,0,0) 25%, 
              rgba(0,0,0,0) 50%,
              rgba(0,0,0,0) 75%,
              rgba(0,0,0,0.5) 100%
              );
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:has(:focus-visible) .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 1.2em;
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  height: 1rem;
  width: 1rem;
}

.icon:focus {
  outline: 2px solid purple;
  border-radius: 8px;
}

.icon.liked {
  color: red;
  animation: bounce 0.5s ease-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

body {
  margin: 0;
}

@media screen and (min-width: 688px) {
  .image-gallery {
    gap: 15px;
    margin: 15px;
  }
}

@media screen and (min-width: 1167px) {
  .image-gallery {
    gap: 15px;
    margin: 15px;
  }
}

@media screen and (min-width: 1549px) {
  .image-gallery {
    gap: 15px;
    margin: 20px;
  }
}