:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: darkblue;
  background-color: #ffffff;
}

.image-gallery {
  display: grid;
  position: relative;
  margin: 10px;
}

.image-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; 
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 15px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 688px) {
  .image-gallery {
    gap: 15px;
    margin: 15px;
  }
}

@media screen and (min-width: 1167px) {
  .image-gallery {
    gap: 15px;
    margin: 15px;
  }
}

@media screen and (min-width: 1549px) {
  .image-gallery {
    gap: 15px;
    margin: 20px;
  }
}